<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::title}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Internet Bank - Confirmation</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>Internet Bank - Confirmation</h1>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="alert alert-info text-center" role="alert">
						You will shortly receive an email with a link to confirm your email.
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</body>
</html>