<form ng-if="$ctrl.authenticating == false">
	<div class="row">
		<h1 align="center">Sign In</h1>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="email">Email Address</label>
				<input id="email" placeholder="Enter email address" type="email" ng-model="$ctrl.email" class="form-control" required/>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input id="password" placeholder="Enter password" type="password" ng-model="$ctrl.password" class="form-control" required/>
			</div>
			<button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.signIn()">Sign In</button>
			<p ng-if="$ctrl.error">Code: <strong>{{$ctrl.error.code}}</strong></p>
			<p ng-if="$ctrl.error">Message: <strong>{{$ctrl.error.message}}</strong></p>
		</div>
		<div lass="col-md-4">
		</div>
		<div class="col-md-4"></div>
	</div>
</form>
<div class="row" ng-if="$ctrl.authenticating == false">&nbsp;</div>
<div class="row" ng-if="$ctrl.authenticating == false">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<button type="button" class="btn btn-primary btn-block" ng-click="$ctrl.signInWithGoogle()">Sign In with Google</button>
	</div>
	<div class="col-md-4"></div>
</div>
<div class="row" ng-if="$ctrl.authenticating == true">
	<div class="col-md-4"></div>
	<div class="col-md-4" align="center">
		<div class="loader"></div>
	</div>
	<div class="col-md-4"></div>
</div>
